.nav {
  background-color: #03a9f4;
  height: 55px;
  box-shadow: 8px 8px 8px #cbced1;
}
.nav-link {
  /* color: white !important; */
  font-weight: 400;
  font-size: 1.4rem;
  margin-left: 18px;
}
.nav-link:hover {
  margin-top: 2px;
  background-color: white;
  color: black !important;
  /* border-radius: 20px; */
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #fff, inset -8px -8px 8px #fff;
}
