.login-box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px !important;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
}
.login-logo {
  background-color: rgb(255, 38, 37) !important;
}
.login-btn {
  margin-top: 10px !important;
  margin-bottom: 2px !important;
}
.form-pass {
  color: red;
}
.nav-data {
  width: 48px;
  height: 48px;
}
.nav-stack {
  gap: 40px;
  font-family: "Alegreya";
  font-size: 24px;
  margin-top: 15px;
  margin-left: 200px;
}
.nav-link {
  text-decoration: none;
  color: black;
  margin-left: 400px;
  margin-top: 4px;
}
.nav-link-ex {
  text-decoration: none;
  color: black;
  margin-top: 4px;
}
.hero-ban {
  position: relative;
  padding: 20px;
}
.hero-bantypo {
  color: #ff2625;
  font-weight: 600 !important;
  font-size: 26px !important;
}
.hero-smile {
  font-weight: 700 !important;
  margin-bottom: 23px;
}
.hero-exp {
  margin-top: 45px;
  text-decoration: none;
  width: 200px;
  text-align: center;
  background: #ff2625;
  padding: 14px;
  font-size: 22px;
  text-transform: none;
  color: white;
  border-radius: 4px;
}
.hero-check {
  font-size: 22px !important;
  font-family: "Alegreya";
  line-height: 35px !important;
  font-weight: 700 !important;
}
.hero-bann {
  font-weight: 600 !important;
  color: #ff2625;
  margin-top: 200px !important;
  opacity: 0.1 !important;

  font-size: 200px !important;
}
.ex-detail {
  margin-top: 30px;
  text-decoration: none;
  width: 200px;
  text-align: center;
  background: #ff2625;
  padding: 14px;
  font-size: 22px;
  text-transform: none;
  color: white;
  border-radius: 4px;
  margin-left: 20px;
}
.simi-typo {
  color: #ff2625;

  text-transform: capitalize;
}
.simi-data {
  font-weight: 700 !important;
  color: #000;
  margin-bottom: 33px;
}
.serch-stack {
  align-items: center;
  margin-top: 37px;
  justify-content: center;
  padding: 20px;
}
.search-typo {
  font-weight: 700 !important;
  margin-bottom: 49px !important;
  text-align: center !important;
}
.search-text {
  height: 76px !important;
  background-color: #fff !important;
  border-radius: 40px !important;
}
.search-btn {
  background-color: #ff2625 !important;
  color: #fff !important;
  text-transform: none;

  height: 56px !important;
  position: absolute !important;
  right: 0px;
  width: 100px !important;
}
.search-box {
  position: relative !important;
  width: 100%;
  padding: 20px;
}
